@import "../../../styles.scss";

:host{
  display: flex;
  .build-container{
    flex-grow: 2;
    display: flex;
  }
}

.input-container{
  textarea{
    resize: none;
    overflow-x: hidden;
  }

  button{
    width: 40px;
  }
}
.input-container.design{
  display: flex;
  justify-content: space-between;;
  label{
    width: 150px;
    text-align: left;
  }
  input.part-count, select{
    width: 150px;
  }
}

.container {
  display: flex;
  color: #000;
  background-color: $lightAccent;
}

h1, p {
  margin: 10px;
}
.part-count {
  width: 75px;
}

.part-btn {
  @extend .btn-rasied;
  padding: 6px 15px;
  font-size: inherit;
}
