@import "../../../styles.scss";

:host{
  display: flex;
  .project-container{
    flex-grow: 2;
    display: flex;
  }
}
.container {
  display: flex;
  color: #000;
  background-color: $lightAccent;
}


h1, p {
  margin: 10px;
}
