@import "../../../styles.scss";

:host{
  .dashboard{
    height: auto;
  }
  display: flex;
  .print-container{
    flex-grow: 2;
    display: flex;
  }
  .list-container{
    margin-top: 10px;
    max-width: 180px;
  }
}




.container {
  display: flex;
  color: #000;
  background-color: $lightAccent;
}
.data {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 750px;
  align-items: flex-start;
  div {
    flex-basis: auto;
    margin:10px;
    background-color: $lightShade;
  }
  .content-container{
    display: flex;
    .input-container{
      margin-left: 10px;
    }
  }
  .input-container{
    margin-left: 30px;
    textarea{
      resize: none;
      overflow: auto;
    }
    select {
      width: auto;
      max-width: 230px;
    }
  }
}


h1, p {
  margin: 10px;
}

.buildlink {
  padding: 5px;
  float: left;
}
