@import "../../../styles.scss";

h1 {
  margin: 0;
  padding:10px;
}

.btn, .btn-active{
  color: white;
  text-align: center;
  text-decoration: none;
  transition: all 0.35s;
  text-transform: uppercase;
  border-radius: 2px;
  &:hover{
    background-color: $primaryColor-lighter;
  }
  &:active{
    background-color: $primaryColor-darker;
  }
  @include flex-center()
}
.btn-active, bt-active:hover , btn-active:active{
  border-bottom: 2px solid $darkShade;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  a{
    flex-grow: 1;

  }
  h1, div {
    flex-grow: 2;
  }
}

.navbar {
  background-color: $primaryColor;
  color: #fff;
}


.input-box {
  @include flex-center();
  p, input {
    display: inline-block;
    border: 0;
  }
}
