
<app-design-list class="design-list"></app-design-list>

<div class="detail-container">
  <div class="data">
    <div *ngIf="design != null">
      <h1>Design</h1>
      <div class="input-container" *ngIf="!createMode">
        <label>ID:</label>
        <input type="text" [(ngModel)]="design.design_id" disabled/>
      </div>
      <div class="input-container">
        <label>Name:</label>
        <input  type="text" [(ngModel)]="design.name" disabled="{{viewMode}}"/>
      </div>
      <div class="input-container">
        <label>Description:</label>
        <textarea [(ngModel)]="design.description" disabled="{{viewMode}}"></textarea>
      </div>
      <div class="input-container" *ngIf="!viewMode" [hidden]="projects == undefined">
        <label>Project:
        <select [(ngModel)]="relatedProject">
          <option *ngFor="let project of projects" [ngValue]="project">
            {{project.name}} ({{project.project_id}})
          </option>
        </select>
        </label>
      </div>
    </div>
    <div *ngIf="viewMode && !createMode">
      <button class="btn-rasied btn-danger" (click)="remove()">Delete</button>
      <button class="btn-rasied btn-light" (click)="toggleEdit()">Edit</button>
      <button class="btn-rasied btn-success" [routerLink]="['/design', 'new']">New</button>
    </div>
    <div *ngIf="!viewMode && !createMode">
      <button class="btn-rasied btn-danger" (click)="reset()">Reset</button>
      <button class="btn-rasied btn-success" (click)="save()">Save</button>
    </div>
    <div *ngIf="createMode">
      <button class="btn-rasied btn-danger" (click)="reset()">Discard</button>
      <button class="btn-rasied btn-success" (click)="create()">Create</button>
    </div>

  </div>
  <div class="display">
    <div class="related">
      <div *ngIf="design != null" class="list-container">
        <h2>Project:</h2>
        <a *ngFor="let project of design.relatedProject" [routerLink]="['/project', project.project_id]">
          {{project.name}}
        </a>
      </div>
      <div *ngIf="design != null" class="list-container">
        <h2>Used in:</h2>
        <a *ngFor="let build of design.relatedBuilds" [routerLink]="['/build', build.build_id]">
          Build:{{build.build_id}}, copies:{{build.count}}
        </a>
      </div>
    </div>
    <app-viewer></app-viewer>
  </div>
</div>
