@import "../../../styles.scss";

:host{
  display: flex;
  .detail-container{
    flex-grow: 2;
    display: flex;
  }
}

.stl-viewer {
  width: 600px;
  height: 600px;
  background-color: black;
}

.container {
  display: flex;
  color: #000;
  background-color: $lightAccent;
}
.data {
  width: 500px;
}

.stl-container {
  background-color: $lightShade;
  margin: 10px;
}

h1, p {
  margin: 10px;
}

