
<app-design-list class="design-list"></app-design-list>

<div class="detail-container">

  <div class="stl-container">

    <app-viewer></app-viewer>

  </div>

  <div class="data">
    <div *ngIf="design != null">
      <h1>Design</h1>
      <div><label>ID:</label>
        <input type="text" [(ngModel)]="design.design_id" disabled/></div>
      <div><label>Name:</label>
        <input type="text" [(ngModel)]="design.name" disabled="{{viewMode}}"/></div>
      <div><label>Description:</label>
        <input type="text" [(ngModel)]="design.description" disabled="{{viewMode}}"/></div>
    </div>
    <div *ngIf="viewMode">
      <button class="btn-rasied btn-light" (click)="toggleEdit()">Edit</button>
      <button class="btn-rasied btn-danger" (click)="remove()">Delete</button>
    </div>
    <div *ngIf="!viewMode">
      <button class="btn-rasied btn-danger" (click)="reset()">Reset</button>
      <button class="btn-rasied btn-success" (click)="save()">Save</button>
    </div>
  </div>
</div>
