@import "../../../styles.scss";

:host{
  display: flex;
  .part-container{
    flex-grow: 2;
    display: flex;
  }
}

.container {
  display: flex;
  color: #000;
  background-color: $lightAccent;
}
.data {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 500px;
  align-items: flex-start;
  div {
    flex-basis: auto;
    margin:10px;
    background-color: $lightShade;
  }
  div:nth-child(2){
    align-self: center;
  }
  .part-container{
    display: flex;
    .input-container{
      margin-left: 10px;
    }
  }
}


h1, p {
  margin: 10px;
}

.buildlink {
  padding: 5px;
  float: left;
}
